<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="~/Name.cshtml">
            Name:<br />
            <input type="text" name="name" /><br />
            <input type="submit" value="Submit" class="submit"/>
        </form>
    </div>
</body>
</html>
